.cardimage_conatiner {
  width: auto !important;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardimage_image,
.cardimage_back {
  width: 440px;
  height: 520px;
}
.cardimage_image {
  background-image: url("../../../assets/celsonimg.jpg");
  background-size: cover;
  z-index: 1;
  background-position: center;
  position: absolute;
}
.cardimage_back {
  background-color: #3333;
  z-index: 0;
  margin-top: 40px;
  margin-right: 50px;
}
@media screen and (max-width: 1024px) {
  .cardimage_image,
  .cardimage_back {
    width: 340px;
    height: 420px;
  }
}
@media screen and (max-width: 768px) {
  .cardimage_image,
  .cardimage_back {
    width: 220px;
    height: 260px;
  }
}
