.container_slide {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colunas com largura igual */
  grid-template-rows: repeat(2, 1fr); /* 2 linhas com altura igual */
  row-gap: 70px;
  padding: 80px;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_image {
  width: 100px;
  height: 100px;
  background-size: cover;
}

.slide_celular {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .slide {
    display: none !important;
  }
  .slide_celular {
    display: block !important;
  }
  .container_slide {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr); /* 5 colunas com largura igual */
    grid-template-rows: repeat(2, 1fr); /* 2 linhas com altura igual */
    row-gap: 40px;
    column-gap: 5px;
    padding: 0;
  }
  .card{
    font-size: 12px;
  }
  .card_image{
    transform: scale(0.8);
  }
}
