.experience_container {
  width: 100%;
  height: auto;
  color: #d1d5db;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.experience_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.experience_card {
  width: 90%;
  height: 200px;
  background-color: #3333;
  border-radius: 20px;
  display: flex;
  flex-direction: row !important;
  align-items: start;
  justify-content: space-between;
  padding: 40px 30px;
  font-size: 14px;
  overflow: hidden;
  gap: 30px;
  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  h1 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
    font-weight: 300;
  }
  cursor: pointer;
  transition: all 0.3s;
}

.experience_card_image {
  width: 50px !important;
  height: 50px !important;
}

@media screen and (max-width: 768px) {
  .experience_card {
    padding: 20px;
    width: 100%;
    height: auto;
    font-size: 10px;
    flex-direction: column !important;
    gap: 10px;
    h1 {
      font-size: 14px;
    }
    h3 {
      font-size: 12px;
    }
  }
  .experience_card_image {
    transform: scale(0.8);
  }
}
