.card_container {
  width: 400px;
  height: 330px;
  background-color: #3333;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
  a {
    color: #d1d5db !important;
    transition: all 0.3s;
    font-size: 25px;
    &:hover {
      transform: scale(1.2);
      color: #9d00ff !important;
    }
  }
}

.card_container_thumb {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 5px;
}
.card_container_title {
  font-size: 18px;
  margin-bottom: 5px;
}
.card_container_description {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


