.skills_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #d1d5db;
}
.skills_contant {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
}
