.about_container{
    width: 100%;
    height: auto;
    overflow: hidden !important;
}
.about_body{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 50px;
    padding-bottom: 30px;
    z-index: 1;
}
.about_info{
    width: 550px;
    height: 693px;
    color: #D1D5DB;
    display: flex;
    flex-direction: column;
    gap: 20px;


}
.about_info h1{
    font-size: 30px;
}

.about_info p{
    font-size: 16px;
    font-weight: 300;
}

.about_info h3{
    font-size: 16px;
    font-weight: 500;
}

.about_info ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    li{
        font-weight: 300;
    }
}

.color_blur1{
    background-image: radial-gradient(closest-side, #9d00ff, #00000000);
    width: 393px;
    height: 393px;
    position: absolute;
    left: -244px;
      top: 200px;
   filter: blur(200px);
   opacity: 50%;
   z-index: 0;
    
}

.color_blur2{
    background-image: radial-gradient(closest-side, #9d00ff, #00000000);
    width: 593px;
    height: 593px;
    position: absolute;
    right: -290px;
    top: 263px;
   filter: blur(200px);
   opacity: 50%;
   z-index: 0;
    
}