@importação '../node_modules/@syncfusion/ej2-base/styles/material3.css';
@importação '../node_modules/@syncfusion/ej2-layouts/styles/material3.css';

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;

}
.container {
  padding: 0 160px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;

}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 100px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
