* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f0f0f;

  div,
  h1,
  p,
  h2,
  ul,
  li,
  img,
  nav,
  h3,
  h4,
  a {
    background-color: transparent;
  }
}

.container {
  width: 100vw;
  padding: 0 60px;
  width: 100%;
  transition: all 0.3s;
  position: relative;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
